<section id="cadastro2">
      <div class="container">
        <h2 class="titleSection">
          Cadastre-se agora e garanta 10% de desconto na Matrícula*
        </h2>
        <h4 class="subTitle">
          Receba informações sobre os cursos, cronograma, sugestões de leitura, valores e conteúdos exclusivos preparados por nosso corpo 
          docente! 
        </h4>
        <div class="row">
          <div class="col-xs-12 col-md-5">
            <figure>
              <img src="images/alunos.png" alt="Alunos FPS" class="img-fluid">
            </figure>
          </div>
          <div class="col-xs-12 col-md-7">
            <form id="cadastroBody" class="cadastroForm" data-toggle="validator" role="form">
              <div class="row">
                <div class="col-xs-12 col-md-12 mb-3">
                  <input type="text" class="form-control" name="nome2" id="nome2" placeholder="Nome" required>
                </div>
              </div>
              
              <div class="row">
                <div class="col-xs-12 col-md-12 mb-3">
                  <input type="email" class="form-control" name="email2" id="email2" placeholder="E-mail" required>
                </div>
              </div>
              
              <div class="row">
                <div class="col-xs-6 col-md-8 mb-3">
                  <input type="text" class="form-control" name="cidade2" id="cidade2" placeholder="Cidade" required>
                </div>
                <div class="col col-xs-6 col-md-4 mb-3">
                  <select class="selectpicker ufCad2" title="UF" name="uf2" id="uf2" required>
                    <option value="AC">AC</option>
                    <option value="AL">AL</option>
                    <option value="AP">AP</option>
                    <option value="AM">AM</option>
                    <option value="BA">BA</option>
                    <option value="CE">CE</option>
                    <option value="DF">DF</option>
                    <option value="ES">ES</option>
                    <option value="GO">GO</option>
                    <option value="MA">MA</option>
                    <option value="MT">MT</option>
                    <option value="MS">MS</option>
                    <option value="MG">MG</option>
                    <option value="PA">PA</option>
                    <option value="PB">PB</option>
                    <option value="PR">PR</option>
                    <option value="PE">PE</option>
                    <option value="PI">PI</option>
                    <option value="RJ">RJ</option>
                    <option value="RN">RN</option>
                    <option value="RS">RS</option>
                    <option value="RO">RO</option>
                    <option value="RR">RR</option>
                    <option value="SC">SC</option>
                    <option value="SP">SP</option>
                    <option value="SE">SE</option>
                    <option value="TO">TO</option>
                  </select>
                </div>
              </div>
              
              <div class="row">
                <div class="col-xs-12 col-md-12 mb-3">
                  <input type="tel" class="form-control" name="telefone2" id="telefone2" placeholder="Telefone" required>
                </div>
              </div>
              
              <div class="row">
                <div class="col col-xs-12 col-md-12 mb-3">
                  <select class="selectpicker cursosCad2" title="Curso" name="curso2" id="curso2" required>
                    <option value="cr1">Curso 1</option>
                    <option value="cr2">Curso 2</option>
                    <option value="cr3">Curso 3</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-md-12">
                  <div class="form-check form-check-inline">
                    Estuda ou já estudou na FPS?
                  </div>
                 <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="estudantefps" id="sim" value="sim" checked>
                    <label class="form-check-label" for="sim">Sim</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="estudantefps" id="nao" value="nao">
                    <label class="form-check-label" for="nao">Não</label>
                  </div>                    
                </div>
              </div>
              
              <div class="row">
                <div class="col-xs-12 col-md-8">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="infoEmail2">
                    <label class="form-check-label" for="infoEmail2">
                      Quero receber por email informações sobre os cursos de Mestrado da FPS
                    </label>
                  </div>
                  
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="infoSms2">
                    <label class="form-check-label" for="infoSms2">
                      Quero receber por SMS informações sobre os cursos de Mestrado da FPS
                    </label>
                  </div>
                </div>
                <div class="col-xs-12 col-md-4">
                  <button type="submit" class="btn btnDefault">CADASTRAR</button>
                </div>
              </div>               

               <p>* Este é um cadastro prévio e não garante a sua inscrição nos cursos de Mestrado. Você será avisado em primeira mão quando as inscrições forem abertas.</p>
            </form>
          </div>
        </div>
      </div>
    </section>