<div class="co12">
          <div class="content">
            <div class="titles">
              <h1>Faça Mestrado Profissional em Saúde na FPS</h1>
              <h4>Conheça os cursos e receba informações em primeira mão para você se programar</h4>

              <div class="navCursos">
                <div class="cardCurso">
                  <h3 class="curso">Mestrado Profissional em Educação para o Ensino na Área de Saúde</h3>
                  <a href="" class="btnDefault" title="Saiba Mais">Saiba Mais</a>
                </div>

                <div class="cardCurso">
                  <h3 class="curso">Mestrado Profissional em<br>Psicologia da Saúde</h3>
                  <a href="" class="btnDefault" title="Saiba Mais">Saiba Mais</a>
                </div>
              </div>
            </div>
            <div class="cadastro1">
              <p class="descricaoCadastro"><strong>FAÇA  O SEU CADASTRO</strong> agora, receba todas as informações e <strong>GARANTA 10%</strong> de desconto na sua <strong>MATRÍCULA</strong>*</p>

              <form id="cadastroHeader" class="cadastroForm" data-toggle="validator" role="form">
                <div class="row">
                  <div class="col col-xs-12 col-md-12 mb-3">
                    <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome" required>                    
                  </div>
                </div>
                
                <div class="row">
                  <div class="col col-xs-12 col-md-12 mb-3">
                    <input type="email" class="form-control" name="email" id="email" placeholder="E-mail" required>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-xs-6 col-md-8 mb-3">
                    <input type="text" class="form-control" name="cidade" id="cidade" placeholder="Cidade" required>
                  </div>
                  <div class="col col-xs-6 col-md-4 mb-3">
                    <select class="selectpicker ufCad" title="UF" id="uf" name="uf" required>
                      <option value="AC">AC</option>
                      <option value="AL">AL</option>
                      <option value="AP">AP</option>
                      <option value="AM">AM</option>
                      <option value="BA">BA</option>
                      <option value="CE">CE</option>
                      <option value="DF">DF</option>
                      <option value="ES">ES</option>
                      <option value="GO">GO</option>
                      <option value="MA">MA</option>
                      <option value="MT">MT</option>
                      <option value="MS">MS</option>
                      <option value="MG">MG</option>
                      <option value="PA">PA</option>
                      <option value="PB">PB</option>
                      <option value="PR">PR</option>
                      <option value="PE">PE</option>
                      <option value="PI">PI</option>
                      <option value="RJ">RJ</option>
                      <option value="RN">RN</option>
                      <option value="RS">RS</option>
                      <option value="RO">RO</option>
                      <option value="RR">RR</option>
                      <option value="SC">SC</option>
                      <option value="SP">SP</option>
                      <option value="SE">SE</option>
                      <option value="TO">TO</option>
                    </select>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-xs-12 col-md-12 mb-3">
                    <input type="tel" class="form-control" name="telefone" id="telefone" placeholder="Telefone" required>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col col-xs-12 col-md-12 mb-3">
                    <select class="selectpicker cursosCad" title="Curso" id="curso" name="curso" required>
                      <option value="cr1">Curso 1</option>
                      <option value="cr2">Curso 2</option>
                      <option value="cr3">Curso 3</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <div class="form-check form-check-inline">
                      Estuda ou já estudou na FPS?
                    </div>
                   <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="estudantefps" id="sim" value="sim" checked>
                      <label class="form-check-label" for="sim">Sim</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="estudantefps" id="nao" value="nao">
                      <label class="form-check-label" for="nao">Não</label>
                    </div>                    
                  </div>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="infoEmail">
                  <label class="form-check-label" for="infoEmail">
                    Quero receber por email informações sobre os cursos de Mestrado da FPS
                  </label>
                </div>
                
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="infoSms">
                  <label class="form-check-label" for="infoSms">
                    Quero receber por SMS informações sobre os cursos de Mestrado da FPS
                  </label>
                </div>
              
                 <button type="submit" class="btn btnDefault">Quero me cadastrar e garantir meu desconto</button>

                 <p>* Este é um cadastro prévio e não garante a sua inscrição nos cursos de Mestrado. Você será avisado em primeira mão quando as inscrições forem abertas.</p>
              </form>
            </div>
          </div>
        </div>