<header class="headerClient">
    <div class="container">
    <div class="row flx-header">
        <div class="col-12 col-md-6 flx-item">
        <div class="content">
            <div class="titles">
            <h1>Faça Mestrado Profissional em Saúde na FPS</h1>
            <h4>Conheça os cursos e receba informações em primeira mão para você se programar</h4>

            <div class="navCursos">
            <div class="cardCurso">
                <h3 class="curso">Mestrado Profissional em Educação para o Ensino na Área de Saúde</h3>
                <a href="" class="btnDefault" title="Inscreva-se">Inscreva-se</a>
            </div>

            <div class="cardCurso">
                <h3 class="curso">Mestrado Profissional em<br>Psicologia da Saúde</h3>
                <a href="" class="btnDefault" title="Inscreva-se">Inscreva-se</a>
            </div>
            </div>
        </div>
        </div>
        </div>
        <div class="col-12 col-md-6 flx-item">
        <a href="" class="btnFloat" title="Inscreva-se">Inscreva-se aqui!</a>
        <figure>
            <img src="images/bg-new-header.png" alt="" class="img-fluid">
        </figure>
        </div>
    </div>
    </div>
</header>