$mq-mobile-portrait   : 320px  !default;
$mq-mobile-landscape  : 480px  !default;
$mq-tablet-portrait   : 768px  !default;
$mq-tablet-landscape  : 980px  !default;
$mq-desktop           : 1200px !default;


//MOBILE
// Both portrait and landscape
@mixin mobile-only {
  @media (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything up to and including the portrait width of the phone
// Since it's the smallest query it doesn't need a min
@mixin mobile-portrait-only {
  @media (max-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everything up to and including the mobile portrait
@mixin mobile-portrait-and-below {
  @media (max-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everything above and including the mobile portrait
@mixin mobile-portrait-and-up {
  @media (min-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everthing larger than a portrait mobile up until mobile landscape
@mixin mobile-landscape-only {
  @media only screen and (min-width : $mq-mobile-portrait + 1) and (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything up to and including the mobile landscape width
@mixin mobile-landscape-and-below {
  @media only screen and (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything above and including the mobile landscape width
@mixin mobile-landscape-and-up {
  @media only screen and (min-width : $mq-mobile-portrait + 1) {
    @content;
  }
}

// tablet
// ------------------------------

// Both the portrait and landscape width of the tablet
// Larger than a landscape mobile but less than or equal to a landscape tablet
@mixin tablet-only {
  @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Everything larger than mobile landscape up until the portrait width of the tablet
@mixin tablet-portrait-only {
  @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-portrait) {
    @content;
  }
}

// Everything below and including the portrait width of the tablet
@mixin tablet-portrait-and-below {
  @media only screen and (max-width : $mq-tablet-portrait) {
    @content;
  }
}

// Everything above and including the portrait width of the tablet
@mixin tablet-portrait-and-up {
  @media only screen and (min-width : $mq-mobile-landscape + 1) {
    @content;
  }
}

// Larger than portrait but less than or equal to the landscape width
@mixin tablet-landscape-only {
  @media only screen and (min-width : $mq-tablet-portrait + 1) and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Up to and including the tablet landscape
@mixin tablet-landscape-and-below {
  @media only screen and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Everything larger than portrait tablet
@mixin tablet-landscape-and-up {
  @media only screen and (min-width : $mq-tablet-portrait + 1) {
    @content;
  }
}

// desktop
// ------------------------------

// Everything larger than a landscape tablet
@mixin desktop-and-up {
  @media only screen and (min-width : $mq-tablet-landscape + 1) {
    @content;
  }
}

// Everything below and including the desktop 
@mixin desktop-and-below {
  @media only screen and (max-width : $mq-desktop) {
    @content;
  }
}

// Everything larger than a landscape tablet but less than or equal to the desktop
@mixin desktop-and-below {
  @media only screen and (min-width : $mq-tablet-landscape + 1) and (max-width : $mq-desktop) {
    @content;
  }
}

// retina
// ------------------------------

// Retina screens have a 1.5 pixel ratio, not 2
@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    @content;
  }
}

@include mobile-only() {
  //NavClient
  .navClient {
    .navbar-brand {
      img {
        height: 50px;
      }    
    }
    .navbar-nav {
      .nav-item {
        &:before,
        &:after {
          display: none;
        }
      }
    }
  }   
  .buttons-Success {
    flex-direction: column;
  }

  .btnFloat {
    bottom: 0px;
    z-index: 1;
  }

  //headerClient
  .headerClient {
    .content {
      flex-direction: column;
      .titles {
        h1 {
          font-size: 1.5rem;
          margin-bottom: 1.0rem;
        }
        h4 {
          font-size: 1.0rem;
        }
      }
      .navCursos {
        margin-top: 1.5rem;
        // flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        .cardCurso {
          margin-bottom: 2.0rem;
          &:first-child{
            margin-right: 0;
          }
        }
        .curso {
          margin-bottom: 2.0rem; 
        }
      }
      .cadastro1 {
        margin-left: 0;
      }
    }
  }
  .flx-item:nth-of-type(1) { order: 2; }
  .flx-item:nth-of-type(2) { order: 1; }
  //FormCadastro
  .cadastroForm {
    .btnDefault {
      font-size: 0.9rem;
    }
  }
  //titleSection
  .titleSection,
  .titlePromo {    
    font-size: 1.2rem;
    margin-bottom: 1.0rem;    
  }
  .subTitle,
  .subPromo {
    font-size: 0.8rem !important;
  }
  .form-check-inline {
    margin-right: 0.50rem;
  }
  .btnPromo {
    text-align: center;
    margin-top: 1.0rem;
    a {
      width: 100%;
    }
  }
  .listBene,
  .cardFale,
  .cardCurso {
    img {
      height: 60px !important;
      width: auto;
    }
  }
  .cardCli {
    img {
      width: 50px !important;
      height: auto;
    }
  }
  //Sections
  section {}

  .carousel-caption {
    font-size: 1.0rem !important;
  }
  .cursos_fps {
    // flex-direction: column;
    .nav-pills {
      display: grid !important;
      // justify-content: start !important;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
    }
    .curso {
      // width: 20%;
      h4 {
        display: none;
      }
      svg {
        height: 30px !important;  
      }
      // width: 180px;
      // margin: 0 auto 1.0rem;
    }
  }

  //Footer
  footer {
    padding: 1.5rem 0 0.5rem;
    text-align: center !important;
    img {
      max-height: 50px !important;      
    }
    .copy {
      font-size: 0.7rem;
    }
    .navFooter {
      display: none;
    }
  }
}
@include mobile-portrait-only() {}

