//Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap);
$regular: 400;
$semi-b : 600;
$bold   : 700;

//Colors
$white      : #FFFFFF;
$gray-clean : #eeeeee;
$gray       : #f5f5f5;
$gray-2     : #585858;
$black      : #444444;
$green      : #005532;
$green2     : #02b169;
$green3     : #bcc900;

@mixin gradientDefault() {
  background-image: -moz-linear-gradient( 149deg, rgb(2,169,100) 0%, rgb(0,85,50) 100%);
  background-image: -webkit-linear-gradient( 149deg, rgb(2,169,100) 0%, rgb(0,85,50) 100%);
  background-image: -ms-linear-gradient( 149deg, rgb(2,169,100) 0%, rgb(0,85,50) 100%);  
}

@mixin gradient-gray() {
  background-image: -moz-linear-gradient( 149deg, rgb(238,238,238) 0%, rgb(88,88,88) 100%);
  background-image: -webkit-linear-gradient( 149deg, rgb(238,238,238) 0%, rgb(88,88,88) 100%);
  background-image: -ms-linear-gradient( 149deg, rgb(238,238,238) 0%, rgb(88,88,88) 100%);  
}

@mixin gradient-green-2() {
  background-image: -moz-linear-gradient(149deg, rgba(2,177,105,1) 0%, rgba(188,201,0,1) 61%);
  background-image: -webkit-linear-gradient(149deg, rgba(2,177,105,1) 0%, rgba(188,201,0,1) 61%);
  background-image: -ms-linear-gradient(149deg, rgba(2,177,105,1) 0%, rgba(188,201,0,1) 61%); 
}

//Mixins Border-radius
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

//shadow
@mixin box-shadow () {
  box-shadow: 0 .435rem .85rem rgba(0,0,0,0.4) !important;
}

//Extends
%df {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


//Placeholder
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $black !important;  
  font-size: 1.0rem;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $black !important;  
  font-size: 1.0rem;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $black !important;  
  font-size: 1.0rem;
}
:-moz-placeholder { /* Firefox 18- */
  color: $black !important;  
  font-size: 1.0rem;
}

.form-check {
  margin-bottom: 0.8rem;
  label {
    font-size: 0.7rem;
  }
}

//Animation
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.btnDefault {
  background: $green;
  color: $white;
  transition: 0.3s;  
  padding: 0.3rem 1.0rem;
  @include border-radius (4px);
  &:hover {
    background: $green2;
    color: $white;
    transition: 0.3s;
    text-decoration: none;
  }            
}

body {
  font-family: 'Open Sans', sans-serif;
}

//NavClient
.navClient {
  background-color: $white !important;
  border-top: 4px solid $green;
  transition: 0.3s;
  &.fixClient {
    position: fixed;
    @include box-shadow ();
    width: 100%;
    z-index: 999;
    transition: 0.3s;
    .navbar-brand {
      img {
        height: 50px;
      }    
    }
  }
  .navbar-brand {
    img {
      height: 110px;
    }    
  }
  .navbar-nav {
    .nav-item {
      position: relative;
      padding-left: 10px;
      &:before {
        content: '|';
        position: absolute;
        left: 0;
        top: 7px;
      }      
      &:first-child {
        &:before {
          display: none;
        }
      }
      .nav-link {
        color: $black;
      }
      &:hover {
        .nav-link {
          color: $green;
        } 
      }
      &:last-child {
        padding-right: 0;                
        &:before {
          display: none;
        }
        .nav-link {
          padding-right: 1.4rem;
          padding-left: 1.4rem;
          background: $green2;
          color: $white !important;
          @include border-radius(2px);
          transition: 0.2s;
          &:hover {
            transition: 0.2s;
            background: $green3;            
          }
        }
      }
    }
  }
}
.flx-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.btnFloat {
  position: absolute;
  width: 250px;
  height: 80px;
  bottom: 20px;
  padding: 1.8rem 2.0rem;
  font-size: 1.2rem;
  text-align: center;

  background: $white;
  color: $green;
  font-weight: $bold;
  
  z-index: 2;
  @include border-radius (4px);  
  transition: 0.2s;
  text-transform: uppercase;
  &:hover {
    background: $green3;
    color: $white;
    @include box-shadow ();
    text-decoration: none;
    transition: 0.2s;
  }
}
//headerClient
.headerClient {
  @include gradientDefault();  
  padding: 0 0 2.0rem 0;
  // padding: 0;

  figure {
    margin: 0;
  }
  .content {
    display: flex;
    align-items: center;
    color: $white;
    .titles {
      h1 {
        font-weight: $bold;
        font-size: 4.2rem;
        margin: 2.0rem 0;
      }
      h4 {
        font-size: 1.3rem;
      }
    }
    .navCursos {
      display: flex;
      justify-content: space-between;
      margin-top: 3.0rem;
      .cardCurso {
        background: $white;
        @include border-radius (4px);
        @include box-shadow ();
        flex-grow: 2;
        padding: 1.0rem;
        width: 100%;
        text-align: center;
        h3 {
          font-size: 0.8rem;
          color: $green;          
        }
        a {
          &.btnDefault {
            width: 100% !important;
            display: block;
            margin-top: 1.1rem;
          }
        }
        &:first-child {
          margin-right: 2.5rem;
        }
      }      
    }
    .cadastro1 {
      padding-top: 2.0rem;
      margin-left: 3.0rem;
      .descricaoCadastro {
        font-size: 0.8rem;
      }
    }
  }
}

form {
  label {
    &.error {
      background: #ffd5d5;
      color: #F44336;
      font-size: 0.6rem;
      padding: 0.2rem 0.4rem;
      margin-bottom: 0;
      @include border-radius (4px);
    }
  }
  .col {
    position: relative;
    label {
      &.error {
        position: absolute;
        top: 42px;
        z-index: 10;
      }
    }
  }
}


//success
#success {
  padding: 2.0rem 0.5rem;
  text-align: center;
  color: $white;
  background: $green2;
  .clearfix {
    height: 40px;
  }
  .title {
    font-weight: $bold;    
  }
  p {
    margin-bottom: 30px;
  }
  .buttons-Success {
    display: flex;
    justify-content: center;
  }
  .btnDefault {
    margin: 20px;
    display: table;
    padding: 1.0rem ;
    font-size: 1.4rem ;
    &:hover {
      background: $white !important;
      color: $green2 !important;
    }
  }
  ul {
    &.socialShare {
      list-style: none;
      margin:  0 0 10px;
      padding: 0;
      text-align: center;
      li {
        display: inline-block;
        margin: 0 1.0rem 1.0rem;
        a {
          color: $green2;
          font-size: 1.5rem;
        }
      }
    }
  }
}



//selectpicker
.bootstrap-select {
  &.ufCad,
  &.ufCad2,
  &.cursosCad,
  &.cursosCad2 {
    width: 100% !important;
  } 
  &.ufCad,
  &.ufCad2 {
    .dropdown-menu {
      max-width: auto !important;
      min-width: auto !important;
    }
  }
  .dropdown-toggle {    
    overflow: hidden;
    &.bs-placeholder {
      color: $black;
    }
    &.btn-light {
      background: $white;
      border: 1px solid #ced4da;
    }
    &:after {
      content: '';
      background: $green;
      width: 40px;
      height: 40px;
      position: absolute;
      border: 0;
      right: -1px;
    }
    &:before {
      content: '\f078';
      font-family: "FontAwesome";
      position: absolute;
      top: 5px;
      right: 11px;
      color: $white;
      z-index: 2;
    }
  }
}

//FormCadastro
.cadastroForm {
  max-width: 420px;  
  .btnDefault {
    width: 100%;
    padding: 0.9rem 0.5rem;
    margin: 0.8rem 0 1.5rem;
    font-size: 1.0rem;
    &:hover {
      @include box-shadow ();
    }
  }
  p {
    font-size: 0.8rem;
  }
}

//titleSection
.subTitle,
.titleSection {
  width: 100%;
  color: $black;
  font-weight: $bold;
  text-align: center;
  margin-bottom: 1.8rem;
}
.subTitle {
  font-weight: $regular;
}

section {
  padding: 6.0rem 0;
}

//Beneficios
.listBene {
  text-align: center;
  margin-top: 3.0rem;
  color: $black;
  h4 {
    text-transform: uppercase;
  }
  .descBene {
    font-size: 0.9rem;
  }
  figure {
    margin-top: 1.5rem;
  }
}

//Etapas
#etapas {
  .cardCli {
    display: flex;
    align-items: center;
    @include border-radius (3px);
    background: $green2;
    color: $white;
    height: 150px;
    padding: 1.2rem 0.8rem;
    margin-top: 1.5rem;
    figure {
      margin-right: 0.8rem;
      margin-bottom: 0;      
      img {
      width: 90px !important;
      height: auto;        
        // max-height: 90px;
      }
    }
    p {
      margin-bottom: 0;
    }
  }
}

#promo {
  background: $gray;
  padding: 1.5rem 0;
  h2,
  h4 {
    color: $black;
  }
  .titlePromo {
    font-weight: $bold;
  }
  .subPromo {
    font-weight: $regular;
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  .btnPromo {
    display: flex;
    align-items: center;    
    a {
      background: $green;
      @include border-radius (3px);
      padding: 1.5rem 4.5rem;
      font-size: 1.5rem;
      text-align: center;
      display: block;
      color: $white;
      transition: 0.2s;
      &:hover {
        text-decoration: none;
        background: $green2;
        transition: 0.2s;
        @include box-shadow ();        
      }  
    }
  }
}

//Depoimentos
#depoimentos {
  .carousel-indicators {
    li {
      width: 15px;
      height: 15px;
      background-color: $green2;
      @include border-radius (100px);
    }
  }
  .carousel-item {    
    min-height: 400px;
    figure {
      width: 100px;
      max-width: 100px;
      height: 100px;
      max-height: 100px;
      @include border-radius (100px);
      border: 4px solid $green2;
      overflow: hidden;

      margin: 50px auto 10px;
      img {
        height: 100px;
        width: auto;
      }      
    }
  }
  .carousel-caption {
    position: relative;
    left: 0;
    right: 0;
    margin: 30px auto;    
    color: $black;
    font-style: italic;
    font-size: 1.4rem;
    .infoaluno {
      font-style: normal;
      font-size: 1.0rem;
      color: $green;
      font-weight: $bold;
    }
  }
}

//Cadastro2
#cadastro2 {
  background: $gray;
  padding-bottom: 0;
  .row {
    align-items: flex-end !important;
  }
  figure {
    margin-bottom: 0;
  }
  .cadastroForm {
    max-width: 100%;
    .row {
      align-items: center !important;
    }
  }
  &.hide {
    display: none;
  }
}

//Fale conosco
#fale {
  .cardFale {
    text-align: center;
    padding: 0.8rem;
    border: 1px solid $green2;
    margin-top: 1.5rem;
    @include border-radius (3px);
    img {
      height: 113px;
      width: auto;
    }
    p {
      margin-bottom: 0;
      color: $black;
    }
    span {
      display: block;
    }
    a {
      transition: 0.2s;
      &:hover {
        text-decoration: none;
        p, span {          
          color: $green2;
          transition: 0.2s;
        }
      }
    }
  }
}

//Footer
footer {
  border-top: 1px solid $gray;
  padding: 1.5rem 0;
  img {
    max-height: 80px;
  }
  .copy {
    text-align: center;
    font-size: 0.8rem;
  }
  .row {
    align-items: center;
  }
  .navFooter,
  .navFooter-social {
    list-style: none;
    margin: 1.0rem auto;
    padding: 0;
    width: 100%;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 0.5rem;
      a {
        color: $green2;
        font-size: 1.3rem;
        transition: 0.3s;
        &:hover {
          color: $green;
          text-decoration: none;
          transition: 0.3s;
        }
      }
    }    
  }
  .navFooter {
    li {
      a {
        color: $black;
        font-size: 1.0rem;
      }
    }
  }
}

//Pos
.pos {  
  .btnDefault {
    background: $green3;
    color: $green;
    &:hover {
      background: $green2;
      color: $white;
    }            
  }
  .bootstrap-select {
    .dropdown-toggle{
      &:after {
        background: $green3;
      }
      &:before {
        color: $green;    
      }
    }
  }
  .navClient {
    border-top-color: $green3;
    .navbar-nav {
      .nav-item {        
        .nav-link {
          color: $green;
        }
        &:after {
          color: $green3;   
        }        
      }
    }
  }

  .headerClient {
    @include gradient-gray();  
  }
  #promo {
     .btnPromo {
        a {
          color: $white;
          background: $green3;
        }
        &:hover {
          a {
            background: $green2;
            color: $white;
          }
        }
     }
  }
  .curso {
    a {
      width: 124px;
      display: inline-block;
      text-align: center;
      color: $green;
      transition: 0.3s;
      background: $white;
      padding: 0.4rem;
      @include border-radius (4px);      
      transition: 0.3s;
      svg {        
        margin: 0.4rem auto 0.8rem;
        fill: $green;
        transition: 0.3s;
      }
      span {
        display: block;
        font-size: 0.8rem;
        transition: 0.3s;
      }
      &:hover {
        text-decoration: none;
        @include box-shadow ();
        background: $green2;
        svg {
          fill: $white;
          transition: 0.3s;
        }
        span {
          color: $white;
          transition: 0.3s;
        }
      }
    }
  }
  .listBene {
    svg {
      fill: $green3;
    }
  }
  #etapas {
    .cardCli {
      background: $gray-2;
      svg {
        fill: $white;
      }   
    }
  }
  #depoimentos {
    .carousel-item {
      figure {
        @include border-radius(5px);
        border-color: $green3;
      }
    }
    .carousel-indicators {
      li {
        @include border-radius(100%);
        background-color: $gray-2;
      }
    }
  }
  #fale {
    .cardFale {
      svg {
        fill: $green2;
      }   
    }
  }
}


//Vestibular
.vest_lp {  
  #fale {
    .cardFale {
      border-color: $green3;
      svg {
        fill: $green3;
      }
      .desc {
        span {
          font-weight: $bold;
          color: $green2;
        }
      }
    }
  }
  #depoimentos {
    .carousel-item {
      figure {
        border-color: $green3;
      }
    }
    .carousel-caption {
      .infoaluno {
        color: $green3;
      }
    }
    .carousel-indicators {
      li {
        background-color: $green3;
      }
    }
  }
  #promo {
    .btnPromo {
      a {
        background: $green3;
        &:hover {
          background: $green2;
        }
      }
    }
  }
  .navClient {
    border-top-color: $green3;
    .navbar-nav {
      .nav-item {        
        .nav-link {
          color: $green3;
          transition: 0.3s;
          &:hover {
            color: $green2;
            transition: 0.3s;
          }
        }
        &:before {
          color: $gray-2;
        }      
        &:last-child{
          a {
            background: $green3;
            transition: 0.3s;
            &:hover {
              background: $green2;
              transition: 0.3s;
            }
          }
        }        
      }
    }
  } 
  .headerClient {
    @include gradient-green-2();
    background-image: url("../images/banner-graduacao.jpg");
    background-size: cover;
    .content {
      .titles {
        h1 {
          font-size: 3.5rem;
          margin: 2.0rem 0 1.0rem;
        }
        h4 {
          font-size: 1.3rem;
          color: $green;
          font-weight: $bold;
        }
        .btn {
          margin-top: 1.5rem;
          padding: 0.5rem 2.0rem;
          &:hover {
            @include box-shadow ();
          }
        }
      }
    }    
  } 
  .listBene {
    svg {
      fill: $green2;
    }
    h4 {
     color: $green3; 
    }
  }  
  #cursos_vest {
    .tab-content {
      padding: 1.0rem 0.5rem;
      .tab-pane {
        h3 {
          font-weight: bold;
        }
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      text-align: center;
      li {
        &.active {
          .icon {
            background: $green2;
            @include box-shadow ();
          }
        }
        a {
          width: 180px;
          margin: 0 auto 1.8rem;
          color: $green;
          transition: 0.3s;
          h4 {
            font-size: 1.0rem;
          }
          .icon {
            background: $green3;
            padding: 1.0rem;
            margin-bottom: 0.7rem;
            @include border-radius(4px);;
            svg {
              height: 90px;  
            }
          }
          &:hover {
            transition: 0.3s;
            text-decoration: none;
            .icon {
              background: $green2;
              transition: 0.3s;
              @include box-shadow ();
            }
          }
        }        
      }
    }
  }
  #cadastro2 {
    padding-top: 4.0rem;
  }
}
.p-sucesso {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 0;
}

//Media Queries
@import 'client_style_queries.scss';